/* * {
    border: 1px solid black;
} */

#main-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#etch-div {
    height: 700px; 
    width: 700px;
    display: grid; 
    border: 1px solid black;
}

.pixel {
    transition: all .5s ease;
}


/* .pixel:hover {
    background-color: black;
} */